$pc: #FC6C26;
$sc: #2DD2C4;

$sc-light: #E9FBF9;
$sc-dark: darken($sc, 15%);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

$black: #0a0a0a;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;

$footer-background: #E9FBF9;
$footer-text-color: #666;