@font-face {
  font-family: "gtwalsheim";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/gt-walsheim-web.woff") format("woff");
}

@font-face {
  font-family: "gtwalsheim";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/gt-walsheim-bold-web.woff") format("woff");
}

@font-face {
  font-family: "gtwalsheim";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/gt-walsheim-medium-web.woff") format("woff");
}

@font-face {
  font-family: "gtwalsheim";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/gt-walsheim-light-web.woff") format("woff");
}